:root {
    --primary-color: #181818;
    --secundary-color: #eedf12;
    --roboto-font: "Roboto", sans-serif;
    --oswald-font: "Oswald", sans-serif;
}

body{
    text-align: center;
    background-color: var(--primary-color);
}

h1 {
    font-family: var(--roboto-font);
    color: white;
}

section {
    display: block;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 50px;
    border: 1px solid gray;
    background-color: var(--secundary-color);
    border-radius: 8px;
}

section img {
    width: 50%;
}

.color-schema {
    background-color: gray;
    border-radius: 3px;
    padding: 5px;
    font-weight: bold;
}

.primary-color {
    color: #181818;
}

.secundary-color {
    color: #fcff1c;
}

h2, .oswald {
    font-family: var(--oswald-font);
}

p, li, span, .roboto {
    font-family: var(--roboto-font);
}

ul {
    list-style: none;
}