:root {
  --main-color: #1b4e70;
  --primary-color: #029fc6;
  --secondary-color: #020b2e;
  --light-blue: #cce5ff;
  --background-color: #eefbfc;
  --accent-color: #7d0a01;
  --carlito-font: "Carlito", sans-serif;
  --amaranth-font: "Amaranth", sans-serif;
  --green-color: #30c403;
  --yellow-color: #fffc53;
  --white-color: #fff;
}

/* Header and Nav */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: var(--main-color);
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
}

.logo img {
  width: 100px;
  padding-right: 8px;
}

.logo h1 {
  font-size: 24px;
  font-family: var(--carlito-font), Helvetica, sans-serif;
  color: var(--white-color);
  font-weight: 700;
}

header nav ul {
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  font-family: var(--amaranth-font), Helvetica, sans-serif;
}

header nav ul li {
  padding: 0 25px;
  list-style: none;
}

header nav ul li a {
  color: var(--white-color);
  text-decoration: none;
}

header nav ul li a:hover {
  color: var(--yellow-color);
  text-decoration: underline;
}

/* Main */
.container {
  padding: 30px;
  font-family: var(--carlito-font), Helvetica, sans-serif;
}

.buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  width: 40%;
  margin: 0 auto;
}

.btn {
  background-color: transparent;
  width: 30%;
  border: none;
  font-size: 40px;
  cursor: pointer;
}

.active {
  background-color: var(--green-color);
  border-radius: 3px;
}

#grid-directory {
  display: grid;
}

#list-directory {
  display: block;
  margin: 0 40px;
}

#grid-directory {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  padding: 20px;
  font-size: 20px;
}

#grid-directory .card {
  text-align: center;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  padding: 0 10px;
  background-color: var(--light-blue);
}

#grid-directory .card img {
  display: block;
  height: 70px;
  margin: 10px auto;
}

#grid-directory .card h3 {
  display: none;
}

#list-directory .card {
  display: flex;
  justify-content: start;
  border-bottom: 1px solid var(--secondary-color);
}

#list-directory .card h3 {
  width: 15%;
}

#list-directory .card p {
  width: 25%;
}

#list-directory .card p,
#list-directory .card h3 {
  font-size: 18px;
  padding: 20px;
}

#list-directory .card img {
  display: block;
  width: 50px;
  padding: 20px;
}

/* Hero and Call to Action */

.hero {
  width: 100%;
}

.hero img {
  width: 100%;
  height: 400px;
}

.call-to-action {
  display: block;
  text-align: center;
  background-color: var(--primary-color);
  color: var(--white-color);
  font-family: var(--amaranth-font);
  padding: 16px;
  width: 40%;
  border-radius: 4px;
  margin: 16px auto;
  font-size: 24px;
  text-decoration: none;
}

/*Events and Weather*/

.home-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 8px;
  margin: 16px;
}

#events {
  grid-column: 1/3;
}

#current-weather {
  grid-column: 3/4;
}

#weather-forecast {
  grid-column: 4/5;
}

#spotlights {
  background-color: orange;
  grid-column: 1/5;
}

#events,
#current-weather,
#weather-forecast {
  background-color: var(--secondary-color);
  color: var(--white-color);
  font-family: var(--carlito-font);
  padding: 5px;
}

#events div,
#current-weather div,
#weather-forecast div {
  height: 340px;
  background-color: var(--light-blue);
  padding: 5px 20px;
  color: black;
  font-family: var(--carlito-font);
  font-size: 20px;
}

/* Form */

.main-join {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin: 20px 0;
  padding: 10px;
  font-family: var(--carlito-font);
}

form {
  width: 40%;
  padding: 20px;
  border: 1px solid var(--primary-color);
  background-color: var(--background-color);
  border-radius: 15px;
}

label {
  display: block;
  margin-bottom: 10px;
}

input,
textarea,
select {
  width: 100%;
  margin-top: 5px;
}

#submit {
  display: block;
  background-color: rgb(218, 225, 245);
  border-radius: 6px;
  padding: 8px;
  font-weight: bold;
  border: 1px solid var(--primary-color);
  width: 50%;
  margin: 0 auto;
}

#membership-cards {
  display: block;
  width: 40%;
  margin-left: 30px;
}

.card {
  background-color: var(--light-blue);
  border: 1px solid var(--primary-color);
  padding: 25px;
  margin-bottom: 25px;
  border-top-left-radius: 5px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 5px;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

.card span,
.card a {
    display: block;
}

.card a {
    text-decoration: none;
    margin: 8px auto;
    background-color: gray;
    border: 1px solid black;
    border-radius: 5px;
    width: 30%;
    color: white;
}

.card:hover {
  background-color: #f0f0f0;
  transform: scale(1.1);
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 5px;
  border: 3px solid var(--secondary-color);
  background-color: rgb(238, 238, 250);
}

.modal-content {
  padding: 20px;
  max-width: 400px;
  text-align: center;
  font-family: var(--amaranth-font);
  font-size: 26px;
  
}

.close {
  float: right;
  cursor: pointer;
}

/* Discover */

#data-view {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "sidebar main";
  font-family: var(--carlito-font);
  text-align: center;
  margin: 30px 60px;
  gap: 30px;
}

#discovery-gallery {
  font-family: var(--amaranth-font);
  font-size: 20px;
}

#discovery-gallery figure {
  display: block;
  background-color: var(--light-blue);
  margin: 0;
  margin-bottom: 16px;
  padding-bottom: 16px;
  border-radius: 6px;
}

#discovery-gallery figure img {
  width: 70%;
  padding: 20px;
  border-radius: 6px;
}

.sidebar-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 20px;
  font-size: 25px;
  background-color: var(--yellow-color);
  border: 7px;
}

.sidebar-section h3 {
  font-size: 35px;
}

.sidebar-section:nth-of-type(4) {
  height: 10%;
}

#last-visit {
  font-size: 50px;
  font-weight: bold;
}

/*Footer */

footer {
  background-color: #1b4e70;
  padding: 20px;
  font-family: var(--carlito-font), Helvetica, sans-serif;
}

footer div {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

footer div img {
  width: 28px;
  padding-left: 15px;
}

footer p {
  font-size: 20px;
  color: var(--white-color);
  font-weight: 700;
}

#lastModified {
  text-align: center;
  color: var(--yellow-color);
  margin: 0;
}
