:root {
    --primary-color: #029FC6;
    --secondary-color: #020b2e;
    --background-color: #eefbfc;
    --accent-color: #7d0a01;
    --carlito-font: "Carlito", sans-serif;
    --amaranth-font: "Amaranth", sans-serif;
    --green-button: #30c403;
}

