body {
    font-family: "Faculty Glyphic", sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    gap: 30px;
    background-color: #1b4E70;
    color: #fff;
}

#icon {
    visibility: hidden;
    position: absolute;
    top: 12px;
    right: 10px;
    background: none;
    border: none;
    color: white;
}

#hamburger-symbol,
#x-symbol{
    font-family: "Puppins", sans-serif;
    font-weight: bold;
    font-size: 30px;
}

#x-symbol,
#hamburger-symbol{
    display: none;
}

header img {
    width: 150px;
    border-radius: 3px;
}

nav {
    background-color: black;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

nav ul li {
    padding: 25px 50px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
}

main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.course-work,
.place,
.certificate {
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5), 0 10px 15px rgba(0, 0, 0, 0.3);
}

.course-work h2,
.place h2,
.certificate h2{
    background-color: #1b4E70;
    margin: 0;
    padding: 16px;
    color: #fff;
    text-align: center;
}

.course-work {
    grid-column: 1;
    grid-row: 1;
}

.course-work ul li {
    padding-bottom: 10px;
}

.place {
    grid-column: 2;
    grid-row: 1;
}

.place figure {
    text-align: center;
    font-size: 20px;
}

.place figure img {
    display: block;
    margin: 15px auto;
    width: 80%;
    border-radius: 3px;
}

.certificate {
    grid-column: 1 / 3;
    grid-row: 2;
}

.filters {
    display: flex;
    justify-content: center;
    padding: 16px;
    border-bottom: 1px solid black;
}

.filters button {
    width: 15%;
    margin: 0px 20px;
    padding: 10px 30px;
    background-color: black;
    color: white;
    cursor: pointer;
}

#courses {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 16px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

.course {
   width: 25%;
   padding: 20px;
   margin: 10px;
   border-radius: 3px;
}

.course-completed {
    background-color: #6f2e1f;
    color: white;
}

.course-pending {
    background-color: #edf1f2;
    border: 1px solid #b0b2b3;
    color: black;
}

/* FOOTER */

footer {
    background-color: #1b4E70;
    padding: 20px;
}

footer div {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

footer div img {
    width: 28px;
    padding-left: 15px;
}

footer p {
    font-size: 20px;
}

#lastModified {
    text-align: center;
    color: yellow;
    margin: 0;
}


@media (max-width: 900px) {
    header img {
        width: 100px;
    }

    nav ul li {
        padding: 20px 30px;
    }

    nav ul li a {
        font-size: 16px;
    }

    #icon {
        visibility: hidden;
    }

    main {
        display: block;
        margin: 16px 0;
    }

    .course-work,
    .place,
    .certificate {
        width: 90%;
        margin: 0 auto;
    }
}

@media (max-width: 560px) {
    header {
        padding: 16px;
        gap: 15px;
    }

    header h1 {
        font-size: 18px;
    }

    header img {
        width: 100px;
    }

    nav ul {
        display: block;
        padding: 0;
    }

    #hamburger-symbol {
        display: block;
    }

    nav ul li {
        width: 100%;
        text-align: center;
        padding: 20px 0;
    }

    #icon {
        visibility: visible;
    }

    main {
        padding: 10px;
        margin: 0;
    }

    .course-work,
    .place,
    .certificate {
        width: 100%;
        box-shadow: none;
        margin-left: 0;
        margin-right: 0;
    }

    .course-work h2,
    .place h2,
    .certificate h2{
        font-size: 18px;
        border-radius: 3px;
    }

    .place figure {
        display: block;
    }

    .place figure img {
        width: 90%;
        margin: 0 auto;
    }

    .place figure figcaption {
        font-size: 12px ;
        margin: 7px;
    }

    .filters {
        justify-content: center;
        padding: 5px;
    }
    
    .filters button {
        width: 32%;
        margin: 0px 3px;
    }
    
    #courses {
        display: block;
        padding: 16px 0;
    }
    
    .course {
       font-size: 14px;
       width: 90%;
       margin: 0 auto;
       padding: 16px 0;
       margin-bottom: 12px;
       font-size: 18px;
    }

    footer {
        padding: 6px;
    }
    
    footer div img {
        width: 28px;
        padding-left: 5px;
    }
    
    footer p {
        font-size: 14px;
    }
    
    #lastModified {
        margin-bottom: 12px;
    }
}